MYSQL_ROOT_PASSWORD=root-password
MYSQL_DATABASE=whu_circle
MYSQL_USER=whu_circle
MYSQL_PASSWORD=dev-password

DB_URL=jdbc:mysql://127.0.0.1:3306/whu_circle?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
DB_USERNAME=whu_circle
DB_PASSWORD=dev-password
